.slider001{
    position: relative;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img001{
    width: 90px;
    height: 50px;
    border-radius: 10px;
    padding-left: 100px;

}

.left-arrow001{
    position: absolute;
    top:50%;
    right: 32px;
    font-size: 3rem;
    color : black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow001{
    position: absolute;
    top:50%;
    left: 32px;
    font-size: 3rem;
    color : black;
    z-index: 10;
    cursor: pointer;
    user-select: none;

}